#closemenu{
    position: absolute;
    right: 30px;
    top: 16px;
}
#donate{
    position: absolute;
    top: 10%;
    left: 2%;
    font-family: 'montserrat',sans-serif;
    text-align: center;
    
}

body{
    background-color: rgb(130, 88, 230);
    color: white;
}